<!--Navigationsleiste-->
<nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <!--Logo und Name-->
        <a href="#" class="navbar-brand mb-0 h1">
            <img src="assets/icons/haushalt.png" width="30" height="30" class="d-inline-block">
            Haushalt
        </a>

        <!--Menü-->
        <ul class="navbar-nav me-auto my-2 my-lg-0">

            <!--Berichte-->
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/icons/berichte.png" width="30" height="30" class="d-inline-block">
                    Berichte
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#" class="dropdown-item">Ausgaben</a></li>
                    <li><a href="#" class="dropdown-item">Einkommen</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="#" class="dropdown-item">Kontostände</a></li>
                </ul>
            </li>

            <!--Dokumente-->
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/icons/dokumentation.png" width="30" height="30" class="d-inline-block">
                    Dokumente
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#" class="dropdown-item">Laufende Ausgaben</a></li>
                    <li><a href="#" class="dropdown-item">Laufende Einkommen</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="#" class="dropdown-item">Kontoauszüge</a></li>
                    <li><a href="#" class="dropdown-item">Überweisungen</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="#" class="dropdown-item">Anfangskontostände</a></li>
                </ul>
            </li>

            <!--Information-->
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/icons/information.png" width="30" height="30" class="d-inline-block">
                    Information
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a routerLink="info/ausgaben" class="dropdown-item">Ausgaben</a></li>
                    <li><a routerLink="info/einkommen" class="dropdown-item">Einkommen</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a routerLink="info/konten" class="dropdown-item">Konten</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
