<h2 class="text-center">{{ title }}</h2>
<div class="container-fluid">

    <div class="row" *ngIf="!isLoaded">
        Loading...
    </div>

    <div class="row" *ngIf="isLoaded">
        <!--Linke Seite-->
        <div class="col">
            <app-konten-list [kontengruppen]="kontengruppen" (aktKontengruppe)="newAktKontengruppe($event)"></app-konten-list>
        </div>
        <!--Rechte Seite-->
        <div class="col">
            <app-konten-details [aktKontengruppe]="aktKontengruppe"></app-konten-details>
        </div>
    </div>
</div>